ADMIN_EMAIL=""
ADMIN_FIRSTNAME=""
ADMIN_LASTNAME=""
ADMIN_PASSWORD=""
CORS_ORIGIN=""
DATABASE_URL=""
JWT_SECRET=""
PORT=""


APP_NAME=""
BREVO_EMAIL=""
BREVO_PASSWORD=""
CLOUDINARY_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CORE_HR_APP_NAME=""
EMAIL_SENDER=""
EMAIL_REPLY_TO=""
HR_CORE_APP_NAME=""
ORGANIZATION_TIMEZONE=""
SUPPORT_EMAIL=""
UPLOAD_BASE_NAMESPACE=""
UPLOAD_DEFAULT_ENTITY=""
UPLOAD_DEFAULT_STRATEGY=""
UPLOAD_DEFAULT_ALLOWED_KEY=""
UPLOAD_DEFAULT_MAX_MB=""
UPLOAD_OVERWRITE_DEFAULT=""
