ADMIN_EMAIL=""
ADMIN_FIRSTNAME=""
ADMIN_LASTNAME=""
ADMIN_PASSWORD=""
BULL_DASHBOARD_PASSWORD=""
CORS_ORIGIN="http://localhost:3000,http://localhost:5173,http://localhost:5174"
JWT_EXPIRES_IN="5d"
JWT_SECRET=""
PORT="3000"
DATABASE_URL=""

APP_NAME=""
BREVO_EMAIL=""
BREVO_PASSWORD=""
CLOUDINARY_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

REDIS_HOST=""
REDIS_PORT=""

NODE_ENV=""
EMAIL_SENDER=""
EMAIL_REPLY_TO=""
ORGANIZATION_TIMEZONE=""
SUPPORT_EMAIL=""
UPLOAD_BASE_NAMESPACE=""
UPLOAD_DEFAULT_ENTITY=""
UPLOAD_DEFAULT_STRATEGY=""
UPLOAD_DEFAULT_ALLOWED_KEY=""
UPLOAD_DEFAULT_MAX_MB=""
UPLOAD_OVERWRITE_DEFAULT=""
WEB_APP_URL="http://localhost:5173"
