<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="x-apple-disable-message-reformatting" />
  </head>
  <body
    style="
      background-color: rgb(255, 255, 255);
      font-family:
        -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;,
        &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;,
        &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;,
        &quot;Helvetica Neue&quot;, sans-serif;
    "
  >
    <table
      align="center"
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <tbody>
        <tr>
          <td>
            <table
              align="center"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              style="
                max-width: 37.5em;
                padding: 20px;
                margin: 0 auto;
                background-color: rgb(238, 238, 238);
              "
            >
              <tbody>
                <tr style="width: 100%">
                  <td>
                    <table
                      align="center"
                      width="100%"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                      style="background-color: rgb(255, 255, 255)"
                    >
                      <tbody>
                        <tr>
                          <td>
                            <!-- Logo Header -->
                            <table
                              align="center"
                              width="100%"
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              role="presentation"
                              style="
                                background-color: rgb(37, 47, 61);
                                padding: 20px;
                              "
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align="center"
                                    style="
                                      color: #fff;
                                      font-size: 24px;
                                      font-weight: bold;
                                      text-align: center;
                                    "
                                  >
                                    {{appName}}
                                  </td>
                                </tr>
                              </tbody>
                            </table>

                            <!-- Main Content -->
                            <table
                              align="center"
                              width="100%"
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              role="presentation"
                              style="padding: 25px 35px"
                            >
                              <tbody>
                                <tr>
                                  <td>
                                    <h1
                                      style="
                                        color: rgb(51, 51, 51);
                                        font-size: 20px;
                                        font-weight: 700;
                                        margin-bottom: 15px;
                                      "
                                    >
                                      Complete your registration
                                    </h1>
                                    <p
                                      style="
                                        font-size: 14px;
                                        line-height: 24px;
                                        color: rgb(51, 51, 51);
                                        margin: 24px 0 14px 0;
                                      "
                                    >
                                      Welcome to {{appName}}! You're almost
                                      done. To complete your registration and
                                      verify your email address, please enter
                                      the verification code below.
                                    </p>

                                    <!-- OTP Code Section -->
                                    <table
                                      align="center"
                                      width="100%"
                                      border="0"
                                      cellpadding="0"
                                      cellspacing="0"
                                      role="presentation"
                                      style="text-align: center; margin: 20px 0"
                                    >
                                      <tbody>
                                        <tr>
                                          <td>
                                            <p
                                              style="
                                                font-size: 14px;
                                                line-height: 24px;
                                                color: rgb(51, 51, 51);
                                                margin: 0;
                                                font-weight: 700;
                                                text-align: center;
                                              "
                                            >
                                              Verification code
                                            </p>
                                            <p
                                              style="
                                                font-size: 36px;
                                                line-height: 24px;
                                                color: rgb(51, 51, 51);
                                                margin: 10px 0;
                                                font-weight: 700;
                                                text-align: center;
                                              "
                                            >
                                              {{otp}}
                                            </p>
                                            <p
                                              style="
                                                font-size: 14px;
                                                line-height: 24px;
                                                color: rgb(51, 51, 51);
                                                margin: 0;
                                                text-align: center;
                                              "
                                            >
                                              (This code is valid for 5 minutes)
                                            </p>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>

                            <!-- Divider -->
                            <hr
                              style="
                                width: 100%;
                                border: none;
                                border-top: 1px solid #eaeaea;
                              "
                            />

                            <!-- Security Notice -->
                            <table
                              align="center"
                              width="100%"
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              role="presentation"
                              style="padding: 25px 35px"
                            >
                              <tbody>
                                <tr>
                                  <td>
                                    <p
                                      style="
                                        font-size: 14px;
                                        line-height: 24px;
                                        color: rgb(51, 51, 51);
                                        margin: 0;
                                      "
                                    >
                                      If you didn't create an account with
                                      {{appName}}, you can safely ignore this
                                      email.
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <!-- Footer -->
                    <p
                      style="
                        font-size: 12px;
                        line-height: 24px;
                        color: rgb(51, 51, 51);
                        margin: 24px 0;
                        padding: 0 20px;
                      "
                    >
                      This message was produced and distributed by {{appName}},
                      {{companyAddress}}. © {{year}}, {{appName}}. All rights
                      reserved.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
